@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #f5f5f5;
}

/* MOBILE FIRST */
.main-header {
    position: relative;
    width: 100%;
    background: #ff6b1a;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    min-height: 130px;
    height: auto;
}

.header-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    max-width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.logo-container a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.logo-container img {
    width: 24px;
    height: 20.18px;
    border: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    /* position: relative;
    top: 35px;
    left: 20px;
    gap: 12px; */
}

.header-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 39px;
}

.logo-container h1 {
    /* width: 228px; */
    height: 29px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}

.header-desc p {
    /* width: 290px; */
    height: 17px;
    font-style: medium;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.9);
    margin: 0 auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Header in Tablet and Desktop */

@media (min-width: 768px) {
    .main-header {
        width: 100%;
        height: 200px;
    }

    .logo-container {
        margin-top: 58px;
        gap: 17px;
    }

    .logo-container h1 {
        text-align: center;
    }

    .header-info {
        margin-top: 58px;
    }

    .header-desc {
        height: 130px;
    }

    .header-desc p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 59px;
    }
}

@media (min-width: 991px) {
    .main-header {
        width: 100%;
        height: 200px;
    }
    .logo-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 17px;
    }

    .logo-container img {
        width: 57px;
        height: 48px;
        border-radius: 8px;
        margin-top: 58px;
    }

    .header-content {
        display: flex;
        flex-direction: column;
        gap: 18px;
        margin-bottom: 58px;
    }

    .header-info {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        margin-top: 58px;
    }

    .header-desc {
        max-width: 380px;
        height: 130px;
        margin: 0 auto;
    }

    .logo-container h1 {
        width: 100%;
        height: 48px;
        font-size: 40px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding-top: 58px;
    }

    .header-desc p {
        height: 22px;
        font-size: 18px;
        font-weight: 500;
        font-style: medium;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 45px;
    }
}

/* BURGER MENU - MOBILE FIRST */

.nav {
    display: none;
}

.nav-bar {
    background-color: #1a1a1a;
    width: 100%;
    height: 71px;
    position: absolute;
    z-index: 3;
    top: 130px;
    display: flex;
    align-items: center;
    padding: 13px;
}

.burger-menu {
    width: 103px;
    height: 37px;
    border-radius: 8px;
    background-color: #ff6b1a;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.burger-menu img {
    width: 17px;
    height: 14px;
}

.menu-text {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51px;
    height: 23px;
    padding-right: 17px;
    gap: 5px;
    font-weight: 600;
    transform: ease;
}

/* Burger Menu Tablet and Desktop */

@media (min-width: 768px) {
    .nav-bar {
        max-width: 991px;
        width: 100%;
        position: absolute;
        top: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .burger-menu {
        display: none;
    }

    .nav {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 48px;

        li {
            width: 77px;
            height: 21px;
            font-size: 17px;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "Inter", sans-serif;
        }

        li a {
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 48px;
        }

        li a:hover {
            background-color: #ff6b1a;
            border-radius: 8px;
            width: 103px;
            height: 37px;
            transition: ease-out 0.5s;
        }
    }
}

@media (min-width: 991px) {
    .nav-bar {
        max-width: 1958px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 200px;
    }

    .burger-menu {
        display: none;
    }

    .nav {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 61px;

        li {
            width: 77px;
            height: 21px;
            font-size: 17px;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "Inter", sans-serif;
        }

        li a {
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 61px;
        }

        li:hover {
            background-color: #ff6b1a;
            border-radius: 8px;
            width: 103px;
            height: 37px;
            transition: ease-out 0.5s;
        }
    }
}

/* Hero Section Mobile */

.hero-section {
    background-color: #2a2a2a;
    width: 100%;
    height: 377px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    z-index: 1;

    .hero-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;

        img {
            width: 156px;
            height: 127px;
            color: #568d0f;
            opacity: 0.2;
        }
    }

    .hero-desc {
        width: 100%;

        .title {
            font-size: 24px;
        }

        .sub-title {
            font-size: 16px;
        }
    }
}

/* Hero Section Tablet and Desktop */
@media (min-width: 768px) {
    .hero-section {
        width: 100%;
        height: 430px;

        .hero-img img {
            width: 302px;
            height: 253px;
        }
    }

    .hero-desc {
        width: 100%;
        max-width: 588px;

        .title {
            font-size: 40px;
            font-weight: 700;
        }

        .sub-title {
            font-size: 18px;
        }
    }
}

@media (min-width: 991px) {
    .hero-section {
        width: 100%;
        height: 530px;

        .hero-img img {
            width: 302px;
            height: 253px;
        }
    }
}

.hero-desc {
    width: 100%;
    max-width: 800px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    z-index: 2;

    .title {
        color: #ffffff;
        font-size: 40px;
        font-weight: 700;
        font-family: "Inter", sans-serif;
    }

    .sub-title {
        color: #ffffff;
        font-size: 18px;
        font-weight: 500;
        font-family: "Inter", sans-serif;
        margin-top: 15px;
        line-height: 30px;
    }
}

/* Grid Section Mobile */

.grid-section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding: 39px 26px;
    margin-bottom: 160px;
    justify-items: center;
}

.grid-card {
    width: 324px;
    height: 200px;
    border-radius: 12px;
    border-top: 4px solid #ff7a3d;
    background-color: #ffffff;
}

.grid-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    margin: 26px 23px;
    margin-bottom: 10px;

    h2 {
        color: #000000;
    }
}

.grid-desc {
    color: #666666;
    margin-left: 24px;
    margin-right: 25px;
    margin-bottom: 62px;
    font-size: 16px;
    line-height: 1.5;
}

/* Grid Section in Tablet and Desktop */

@media (min-width: 768px) {
    .grid-section {
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 31px 444px;
        gap: 30px;
    }
}

@media (min-width: 991px) {
    .grid-section {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        gap: 30px;
        padding: 31px 444px;
    }
}
