@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    list-style: none;
    text-decoration: none;
}

/* MOBILE FIRST */
.main-header {
    position: relative;
    max-width: 375px;
    width: 100%;
    background: #ff6b1a;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    min-height: 130px;
    height: auto;
}

@media (min-width: 380px) {
    .main-header {
        max-width: 768px;
        width: 100%;
        min-height: 200px;
    }
}

@media (min-width: 768px) {
    .main-header {
        max-width: 1920px;
        min-height: 200px;
    }
}

.header-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    max-width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-container img {
    width: 24px;
    height: 20.18px;
    border: 2px;
    position: relative;
    top: 35px;
    left: 20px;
    gap: 12px;
}

.header-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 39px;
    max-width: 375px;
}

.header-content h1 {
    /* width: 228px; */
    height: 29px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    margin: 0 auto;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content p {
    /* width: 290px; */
    height: 17px;
    font-style: medium;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.9);
    margin: 0 auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media (min-width: 380px) {
    .header-desc {
        max-width: 380px;
        height: 130px;
    }
}

@media (min-width: 979px) {
    .logo-container img {
        width: 57px;
        height: 48px;
        border-radius: 8px;
        position: absolute;
        left: 500px;
        top: 58px;
    }

    .header-desc {
        max-width: 380px;
        height: 130px;
        position: relative;
        margin: 0 auto;
    }

    .header-desc h1 {
        width: 380px;
        height: 48px;
        font-size: 40px;
        font-weight: 700;
        /* display: flex;
        justify-content: center;
        align-items: center; */
        position: relative;
        top: 30px;
        right: -5px;
        margin: 0 auto;
    }

    .header-desc p {
        height: 22px;
        font-size: 18px;
        font-weight: 500;
        font-style: medium;
        margin: 0 auto;
        position: relative;
        top: 40px;
        right: -4px;
        margin: 0 auto;
    }
}

/* BURGER MENU - MOBILE FIRST */

.nav {
    display: none;
}

.nav-bar {
    background-color: #1a1a1a;
    max-width: 375px;
    width: 100%;
    height: 71px;
    position: absolute;
    top: 130px;
    display: flex;
    align-items: center;
    padding: 13px;
}

.burger-menu {
    width: 103px;
    height: 37px;
    border-radius: 8px;
    background-color: #ff6b1a;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.burger-menu img {
    width: 17px;
    height: 14px;
}

.menu-text {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51px;
    height: 23px;
    padding-right: 17px;
    gap: 5px;
    font-weight: 600;
    transform: ease;
}

@media (min-width: 380px) {
    .nav-bar {
        max-width: 768px;
        width: 100%;
        position: absolute;
        top: 160px;
    }
}

@media (min-width: 768px) {
    .nav-bar {
        max-width: 1920px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 200px;
    }

    .burger-menu {
        display: none;
    }

    .nav {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 61px;

        li {
            width: 77px;
            height: 21px;
            font-size: 17px;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "Inter", sans-serif;
        }

        li a {
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 61px;
        }

        li:hover {
            background-color: #ff6b1a;
            border-radius: 8px;
            width: 103px;
            height: 37px;
            transition: ease-out 0.5s;
        }
    }
}
